@{
    string partialHeaderPath = "Partials/Header";
    string partialFooterPath = "Partials/Footer";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estalbook</title>
    <link rel="preload" as="style" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <header class="header">
        @{
            await Html.RenderPartialAsync(partialHeaderPath);
        }
    </header>

    <main role="main">
        
        @RenderBody()
    </main>

    <footer class="footer">
        @{
            await Html.RenderPartialAsync(partialFooterPath);
        }
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
