@{
    ViewData["Title"] = "Home Page";
}

<div class="girls-page">

    <div class="participant-section">

        <div class="participant-left">
            <div class="participant-left-img">
                <img src="participantImages/lceEiuvvGO0.jpg" alt="1">
            </div>            
        </div>

        <div class="participant-right">
            <div class="participant-right-img">
                <img src="participantImages/VCcop8D6nlk.jpg" alt="2">
            </div>
        </div>

    </div>

    <div class="button-section">
        <div>
            <button>левая</button>
            <button>правая</button>
        </div>
    </div>

</div>

