/*  Общее  */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
html,
body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  box-sizing: border-box;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
/* ========= HEADER ========== */
.header {
  background-color: #d8ae88;
}
.header__inner {
  padding-top: 30px;
  padding-bottom: 40px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  width: 73px;
  height: 73px;
  margin-right: 24px;
}
.logo__img {
}
.title {
  color: #f3dbb6;
  padding-right: 410px;
  font-size: 64px;
  font-weight: 400;
  line-height: 77px;
}
.title-color {
  color: black;
}
.menu__list {
  display: flex;
  gap: 60px;
  margin-right: 50px;
  font-size: 18px;
  font-weight: 520;
}
.menu__list-link,
.btn-rang {
  color: black;
  text-transform: uppercase;
  position: relative;
}

.menu__list-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  left: 0;
  bottom: -3px;
  transition: 0.5s;
  transform: scale(0);
}
.menu__list-link:hover:before {
  transform: scale(1);
}
.header__btn-container {
  padding-right: 15px;
}
.glow-on-hover {
  border: 0.5px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  background: #F3DBB6;
  cursor: pointer;
}

/* ========= MAIN ========== */
.main {
  flex-grow: 1;
  height: 780px;
}
.choise {
  text-align: center;
  background-image: url("images/carpet.jpg");
  background-repeat: no-repeat;
  height: 100%;
  background-position: center center;
  background-color: #d8ae88;
}
.title-main {
  padding: 30px 0 30px 0;
  color: white;
}
.choise__list {
  display: flex;
  justify-content: space-around;
}



.choise__item-img {
 
  width: 300px;
  height: 400px;
  border: 3px solid #d8ae88;
  border-radius: 5px;
  margin-top: 180px;
  
}
.left-1 {
  margin-left: 270px;
}
.right-1 {
  margin-right: 270px;
}
.btn__container {
  margin-top: 10px; 
  display: flex;


}

.left-2 {
  margin-left: 330px;
}

.right-2 {
  margin-left: 670px;
}
.btn:link,
.btn:visited {
    /* text-transform: uppercase; */
    text-decoration: none;
    padding: 6px 60px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    position: absolute;
    cursor: pointer;
    border: 1px solid black;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color:  #F3DBB6;
    color: #000;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color:  #d8ae88;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* ========= FOOTER ========== */
.footer {
  background-color: #d8ae88;
  padding: 50px 0 30px;
  color: black;
  text-align: center;
    
}
/* ========= RATING ========== */
.main-2 {
  background-color: #d8ae88;
  
}
.rating {
  display: flex;
  text-align: center;
  gap: 200px;
}
.container-left,.container-right{
  width: 400px;
  height: 2000px;
  background-color: #E3C9A2;
  border: 0.5px solid #000;
  border-radius: 10px;
  margin-top: 100px;
  justify-content: center;
  
}
.girls {
  margin-left: 467px;
}

 

.title__rating {
  border-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 100px 9px 100px;
  background-color: #f3dbb6;
  border-radius: 10px;
  border-bottom: 0.5px solid #000;
}
.rating__list {
  text-align: center;
  justify-content: center;
}
.rating__item {
  font-size: 24px;
  font-weight: 700;
  margin-top: 47px;
  /* margin-left: 65px; */
   justify-content: center;
  display: flex; 
}
.rating__img {
  width: 200px;
  height: 266px;
  margin-top: 22px;
  /* margin-left: 65px; */
  
  
}