  <div class="container">
        <h4>footer</h4>
        <div class="footer-test">
            <p>
                Политика конфиденциальности. Ссылка на документ или страницу,
                где объясняется, как вы будете использовать и защищать личные
                данные посетителей.
            </p>
            <p>
                Условия использования.Ссылка на страницу, где расписаны общие
                правила и рекомендации, регулирующие использование сайта.
            </p>
            <p>
                Авторское право ©. Эта информация дает понять, что копирование
                информации с вашего сайта будет считаться плагиатом.
            </p>
        </div>
    </div>