    <div class="container">
        <div class="header__inner">
            <a href="#" class="logo">
                <img src="images/logo.svg" alt="" class="logo__img" />
            </a>
            <h1 class="title"><span class="title-color">Сталь</span>book</h1>

            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a href="girls.html" class="menu__list-link">Девушки</a>
                    </li>
                    <li class="menu__list-item">
                        <a href="mans.html" class="menu__list-link">Парни</a>
                    </li>
                </ul>
            </nav>
            <div class="header__btn-container">
                <button type="button"
                        onclick="location.href="https://vk.com/video/@wudiochan?z=video-116181796_456322615%2Fclub116181796%2Fpl_-116181796_-2"
                        class="glow-on-hover">
                    рейтинг
                </button>
            </div>
        </div>
    </div>